<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.storbook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".global"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Storbook.NoActionBar"
        tools:targetApi="31">

        <activity
            android:name=".friends_page"
            android:exported="false">

        </activity>

        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".peopleActivity"
            android:exported="false" />

        <activity
            android:name=".FamilyMemberCreatePage"
            android:exported="false" />
        <activity
            android:name=".ImagesActivity"
            android:exported="false" />
        <activity
            android:name=".FamilyMemberMainPage"
            android:exported="false"
            android:label="@string/title_activity_family_member_page" />
        <activity
            android:name=".pwd_activity"
            android:exported="false"
            android:theme="@style/Theme.Storbook.NoActionBar" />
        <activity
            android:name=".PasswordAuth"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false"
            android:label="Setting" />
        <activity
            android:name=".CaretakerMain"
            android:exported="false"
            android:theme="@style/Theme.Storbook.NoActionBar" />
        <activity
            android:name=".CaretakerUploading"
            android:exported="false" />
        <activity
            android:name=".CaretakerSerialEntry"
            android:exported="false" />
        <activity
            android:name=".CaretakerRegister"
            android:exported="false" />
        <activity
            android:name=".CaretakerLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Storbook.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>